html{
  height: 100%;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.contents {
  font-size: 15px;
  width: 90%;
  /* margin-left: auto;
      margin-right: auto; */
  margin: 0px auto 50px;
}

hr {
  color: grey;
}

a {
  color: #337ab7;
}

a[ng-click] {
  cursor: pointer;
}

td>a {
  text-decoration: none;
}

td>a:hover {
  text-decoration: underline;
}

th>a.sortable {
  text-decoration: none;
}

.cadd_score, .num_vus, .alphafold,
.clinvar_link, .pdb, .variation {
  text-align: center;
}

.btn-primary,
.btn-primary.disabled {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-group-xs>.btn,
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* .basket {
  width: 50px;
  display: inline-block;
} */

/*
    Result Header
*/
.contents_header {
  margin-top: 5px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  /* height: 150px; */
  /* border: solid 1px black; */
}

.alert {
  padding: 15px 15px 0px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.num_items {
  position: absolute;
  left: 5%;
  display: inline-block;
  margin: 0 auto;
}

.pageforms {
  position: absolute;
  right: 5%;
  display: inline-block;
  margin: 3px auto;
  vertical-align: bottom;
  /* border: solid 1px black; */
}

.pageform {
  display: inline-block;
}

.page_button,
#jump_button {
  cursor: pointer;
}

.page_button:disabled {
  cursor: auto;
}

#page_number {
  /* height:15px; */
  width: 50px;
  padding: 0 auto;
  position: relative;
  margin: 0 2px;
  /* top:0;  */
  border-radius: 2px;
  border: 1px solid grey;
  /* outline:0; */
  background: white;
  border: solid 1px black;
}

footer {
  width: 90%;
  margin: 50px auto 50px;
  color: grey;
  font-size: 14px;
}
