.vscode

### macOS ###
.DS_Store

# ClinVar data
ClinVarFullRelease_00-latest.xml

# pdb sequence data
pdb_seqres.txt

# sample file
*.txt
*.csv
*.tsv
*.xlsx
*.xsl
*.xml
*.faa
*.fasta
*.html
*.pdf
*.gz
*.drawio

# blast files
blast_db
pdb_seqres.txt

# folders
ncbi
data
intermediates
configuration

# ipynb
.ipynb_checkpoints
*.ipynb

# pycache
__pycache__

# log
*.log

.python-version