.vscode

### macOS ###
.DS_Store

# ClinVar data
ClinVarFullRelease_00-latest.xml

# pdb sequence data
pdb_seqres.txt

# sample file
*.txt
*.csv
*.xlsx
*.xml
*.faa
*.html
*.pdf
*.gz

# blast files
blast_db
pdb_seqres.txt

# folders
ncbi
data
configuration

# ipynb
.ipynb_checkpoints

# pycache
__pycache__

# log
*.log