.vscode

### macOS ###
.DS_Store

# ClinVar data
ClinVarFullRelease_00-latest.xml

# pdb sequence data
pdb_seqres.txt

# sample file
*.txt
*.csv
*.xlsx
*.xml

# randome output file
MM_enzyme_copy.csv
MM_enzyme_filter_1.csv
MM_enzyme_filter_2.csv